.actions {
  display: flex;
  justify-content: center;
  margin: 30px;
  &__button {
    padding: 10px 20px;
    border: 1px solid lightgray;
    font-size: 1.1rem;
    cursor: pointer;
    background: white;
    // border-radius: 5px;
    &:hover {
      opacity: 0.6;
    }
  }
  &__input {
    // padding-left: 5px;
    width: 50px;
    padding-left: 10px;
    background: white;
    border: 1px solid lightgray;
    // padding-right: 30px;
    margin: 0 20px;
  }
}
