@import "../UI/variables.scss";
.item {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $item-height;
}

.placeholder {
  display: flex;
  justify-content: center;
  background: transparent !important;
  color: red;
  font-size: 2rem;
}
