$item-height: 30px;
$item-color: orange;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightcyan;
}

li,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button {
  outline: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

.my-10 {
  margin: 10px 0;
}
.hide {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.fade-in {
  opacity: 1;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
